<!-- Unsplash API import -->
<img id="foo" src="http://images.bwwstatic.com/columnpic6/AB2A4A4D-CB4C-6B50-BF69FB9B24DF2178.jpg">
<!--End of Unsplash API import -->
<div>
	<div id="googleLoginParent"> <!-- Change name later -->
		<form class="googleLoginInput">
			<input type="text" placeholder="Username" name="username" id="username" />
			<input type="password" placeholder="Password" name="password" id="password" />
			<input type="Submit" value="Login" href="#/profile" ng-click="ballinLogIn()" />
		</form>
	</div> <!-- End of googleLoginPage -->
</div>